# .*
!.vscode/
.vscode/settings.json
build/
install/
log/
benchmarks/results/
benchmarks/cache/
tools/benchmark/results/
tools/benchmark/cache/
.cache/
!.gitignore
# proxsuite/
bxi_hw_release/
src/bxi_example_py_elf3/test/
__pycache__/
MUJOCO_LOG.TXT
.*/
!.github/
