# .*
!.vscode/
.vscode/settings.json
build/
install/
log/
benchmarks/results/
benchmarks/cache/
tools/**/results/
tools/**/cache/
.cache/
!.gitignore
# proxsuite/
bxi_hw_release/
src/bxi_example_py_elf3/test/*
!src/bxi_example_py_elf3/test/test_pico_gmr_motion.py
!src/bxi_example_py_elf3/test/test_sonic_gripper.py
__pycache__/
MUJOCO_LOG.TXT
.*/
!.github/
rosbag2_*/
*.build.lock
src/livox_ros_driver2/
!.agents/
src/bxi_example_py_elf3/mods/private_mods/
